<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org" xmlns:xmls="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Lista de clientes</title>
        <meta name="viewport" content="width=device-width, inicial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="estilo1.css">
    </head>
    <body>
        <h1><b>Relatório de clientes.</b></h1>
        <br>
        <br>
        <div class="menu">
            <a th:href="@{/produto/list}">Home</a>
            <a th:href="@{/produto/form}">Cadastrar Produto</a>
            <a th:href="@{/venda/list}">Vendas Realizadas</a>
            <a th:href="@{/pessoa/list}">Clientes cadastrados</a>
        </div>
        <br>
        <table class="table" border="1">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>CPF ou CNPJ</th>
                <th colspan="2">Operações</th>
            </tr>
            </thead>
            <tr th:each="p : ${pessoas}">
                <td th:text="${p.id}"> </td>
                <td th:text="${p.nome}"></td>
                <td th:text="${p.telefone}"></td>
                <!-- Teste condicional para determinar se é pessoa física ou jurídica -->
                <!--VERIFICAR COMO ACESSAR ESTES ATRIBUTOS-->
                <div th:if="${cnpj == null}">
                    <td th:text="${pessoaFisica.cpf}"></td>
                </div>
                <div th:if="${cpf == null}">
                    <td th:text="${pessoaJuridica.cnpj}"></td>
                </div>
                <td> <a th:href="@{/pessoa/edit/{id}(id=${p.id})}">Editar</a> </td>
                <td> <a onclick="return window.confirm('Tem certeza que deseja excluir este registro?')"
                        th:href="@{/pessoa/remove/{id}(id=${p.id})}">Excluir</a> </td>
            </tr>
        </table>
    </body>
</html>