<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Detalhes da Compra</title>
    </head>
    <body>
        <h2><b>Relatório das Vendas Realizadas</b></h2>
        <div class="menu">
            <a th:href="@{/produto/list}">Home</a>
        </div>
        <br>
        <table class="table" border="1">
            <thead>
            <tr>
                <th>ID</th>
                <th>Data da Compra</th>
                <th>Valor Total (R$)</th>
                <th colspan="2">Ações</th>
            </tr>
            </thead>
            <tbody>
            <!-- Iterando através da lista de vendas -->
            <tr th:each="venda : ${vendas}">
                <td th:text="${venda.id}"></td>
                <td th:text="${venda.data}"></td>
                <td th:text="${venda.totalVenda()}"></td>
                <td> <a th:href="@{/venda/detail/{id}(id=${venda.id})}">Detalhar</a> </td>
                <td> <a onclick="return window.confirm('Tem certeza que deseja excluir esta ' +
                 'venda?')"  th:href="@{/venda/remove/{id}(id=${venda.id})}">Excluir</a> </td>
            </tr>
        </tbody>
    </table>
    </body>
</html>
